<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RatesDB" value="Data Source=MLEWIN-SURFACE2\SQLEXPRESS;Initial Catalog=RatesDatabase;Integrated Security=SSPI;"/>
        <add key="Currency" value="USD,GBP,EUR" />
        <add key="RatesUrl" value="https://api.exchangeratesapi.io/latest" />
    </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
